@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  scroll-behavior: smooth; 
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
}

main {
  padding-top: 120px;
}
